{% extends 'base.html' %}
{% load static %}

{% block title %}
Review Page
{% endblock %}

{% block style %} <link rel="stylesheet" href="{% static 'css/styles.css' %}" > 
{% endblock %}


{% block content%}
<div class= "rev-container">
	<br><br><br>
		{% if user.is_authenticated %}
			<div class="row" style="color: white; font-family:'Varela Round', sans-serif; font-size: 20px">
			    <div class="col-sm-8" style="padding: 20px 20px 20px 50px">
			    	<p style="font-size: 25px"><b>Please help us to provide you a <span style="color:  #fe5b46; background-color: rgba(255,255,255,0.5)"> better service </span> </b></p>
			    <!-- 	{% url 'review:create_rev' %} -->
			    	<form method="POST" action="" id="rev-form">
						{% csrf_token %}
					  <div class="form-group row">
					    <label for="name" class="col-sm-2 col-form-label">{{ form.name.label_tag }}</label>
					    <div class="col-sm-10" id="form-name">
					      {{ form.name }}
					    </div>
					  </div>
					  <div class="form-group row">
					    <label for="inputEmail3" class="col-sm-2 col-form-label">{{ form.email.label_tag }}</label>
					    <div class="col-sm-10" id="form-email">
					      {{ form.email }}
					    </div>
					  </div>
					  <div class="form-group row">
					    <label for="rate" class="col-sm-2 col-form-label">{{ form.rate.label_tag }}</label>
					    <div class="col-sm-10" id="form-rate">
					      {{ form.rate }}
					    </div>
					  </div>

					  <div class="form-group">
					    <label for="exampleFormControlTextarea1">{{ form.comment.label_tag }}</label>
					    <div id="form comment">
					    	  {{ form.comment }}
					    </div>
					  </div>
					  <div class="form-group row">
					    <div class="col-sm-10">
					      <button type="submit" class="btn btn-primary" id="but-submit">Submit</button>
					    </div>
					  </div>
					</form>
			    </div>
			    <div class="col-sm-4">
			    <img src="{% static 'img/popup.png' %}" style="max-width:100%; height: auto">
				</div>
			</div>
			<hr style="border: 2px solid white; margin-right: 50px; margin-left: 50px">
		{% else %}
			<p style="font-size: 25px; color: white; font-family:'Varela Round', sans-serif;"><b>Want to write a review? <a href="\accounts" style="color: #fe5b46">Register First</a></b></p>
		{% endif %}

		<div class="list-group" style="padding: 40px 100px 30px 100px">
        	 <p style="color: white; font-family:'Varela Round', sans-serif; font-size: 30px"><b><span style="color:  #fe5b46; background-color: rgba(255,255,255,0.5)">Thought</span> on Us</b></p>
        	{% for db in data %}
        		<div style="background-color: #ffafaf; padding: 30px; word-wrap: break-word; color: white; font-family:'Varela Round', sans-serif;" id="kotak-rev">
			  		<h4 class="mb-1"><b>{{ db.name }}</b></h4>
			  		<div class="d-flex w-100 justify-content-between">
			  			<p class="mb-1">{{ db.rate }}/5</p>
			  			<small class="text-muted">{{ db.date }}</small>
			  		</div>
			  		<p class="mb-1">{{ db.comment }}</p>
		  		</div>
		  		<br>
		  	{% endfor %}
		</div>
	</div>
	<br>
	<br>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="{% static 'js/script.js' %}"></script> 

{% endblock %}
