
{% extends 'base.html' %}
{% load static %}


{% block title %}
 Accounts
{% endblock %}

{% block style %}
<style type="text/css">
  .helptext{
    font-size: 12px;
    color: white;
  }
  ul{
    display: none;
  }

  .errorlist{
    font-size: 12px;
    display: block;
    color: red;

  }

</style>
{% endblock %}

{% block content %}
        <div style="background-color: #6cc8a3; color: white; padding-left: 5%; padding-right: 5%">
        	<br><br><br><br>
        	 <form method="POST" action="{% url 'accounts:signup' %}">
	          {% csrf_token %}
	          {{ form.as_p }}
	          <button type="submit" class="btn btn-primary btn-sm" id="signup-but">Sign Up</button>
	        </form>
	        <p>Already have an account? <a href="/accounts/login/">LOGIN</a></p>
        </div>
      
{% endblock %}



