
{% extends 'base.html' %}
{% load static %}


{% block title %}
 Accounts
{% endblock %}

{% block style %}
<style type="text/css">
  .helptext{
    font-size: 12px;
    color: grey;
  }
  ul{
    display: none;
  }

  .errorlist{
    font-size: 12px;
    display: block;
    color: red;

  }

</style>
{% endblock %}


{% block content %}
        <div style="background-color: #6cc8a3; color: white; padding-left: 5%; padding-right: 5%">
          <br><br><br><br>
          <form method="POST" action="{% url 'accounts:login' %}" id="form-login">
          {% csrf_token %}
            <div class="row">
              <div class="col-sm-1"><label> Username </label></div>
              <div class="col-sm-1"></div>
              <div class="col-sm-3">
                <input type="text" name="username" id="username_login" required autocomplete="off"/>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-1"><label> Password </label></div>
              <div class="col-sm-1"></div>
              <div class="col-sm-3">
                <input type="password" name="password" id="password_login" required autocomplete="off"/>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-sm" id="login-but">Login</button><br>
        </form>
        <p>No account? <a href="/accounts/">Create One</a></p>
        </div>
        
{% endblock %}


