{% load static from staticfiles%}


<!DOCTYPE html> 
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>{% block title %}{% endblock %}</title>

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <style type="text/css">
      footer{
      background-color: #fe5b46;
      color: white;
      position: absolute;
      width: 100%;
      font-family: 'Varela Round', sans-serif;
      margin-top: 30px;
    }

    body {
        font: 400 15px Lato, sans-serif;
        line-height: 1.8;
        color: #818181;
      }
      h2 {
        font-size: 24px;
        text-transform: uppercase;
        color: #303030;
        font-weight: 600;
        margin-bottom: 30px;
      }
      .4h {
        font-size: 19px;
        line-height: 1.375em;
        color: #303030;
        font-weight: 400;
        margin-bottom: 30px;
      }  
      #jumbotron {
        background-color: #ffafaf;
        color: #fff;
        padding: 100px 25px;
        font-family: Montserrat, sans-serif;
      }
      .bt-1{
        background-color: #60bbd6 ;
      }
      .bt-2{
        background-color: #6cc8a3 ;
      }
      .container-fluid {
        padding: 60px 50px;
      }
      .bg-grey {
        background-color: #f6f6f6;
      }
      .carousel-control.right, .carousel-control.left {
        background-image: none;
        color: #f4511e;
      }
      .carousel-indicators li {
        border-color: #f4511e;
      }
      .carousel-indicators li.active {
        background-color: #f4511e;
      }
      .item h4 {
        font-size: 19px;
        line-height: 1.375em;
        font-weight: 400;
        font-style: italic;
        margin: 70px 0;
      }
      .item span {
        font-style: normal;
      }
      .slideanim {visibility:hidden;}
      .slide {
        animation-name: slide;
        -webkit-animation-name: slide;
        animation-duration: 1s;
        -webkit-animation-duration: 1s;
        visibility: visible;
      }
      @keyframes slide {
        0% {
          opacity: 0;
          transform: translateY(70%);
        } 
        100% {
          opacity: 1;
          transform: translateY(0%);
        }
      }
      @-webkit-keyframes slide {
        0% {
          opacity: 0;
          -webkit-transform: translateY(70%);
        } 
        100% {
          opacity: 1;
          -webkit-transform: translateY(0%);
        }
      }
      @media screen and (max-width: 768px) {
        .col-sm-4 {
          text-align: center;
          margin: 25px 0;
        }
        .btn-lg {
          width: 100%;
          margin-bottom: 35px;
        }
      }
      @media screen and (max-width: 480px) {
        .logo {
          font-size: 150px;
        }
      }
    </style>

    {% block style %} {% endblock %}


  </head>
  <body>
    <!-- navbar -->

    <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #fe5b46; font-family: 'Varela Round', sans-serif;">
     
     <a class="navbar-brand" href="/" style="color: white">BangunRuma</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
            {% if user.profile.role == "Client" %}
            <li class="nav-item">
              <a class="nav-link" style="color: white;" href="/request">Request</a>
            </li>
            {% elif user.profile.role == "Contractor" %}
            <li class="nav-item">
              <a class="nav-item nav-link" style="color: white" href="/contractor">Contractor</a>
            </li>
            {% endif %}
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" style="color: white" href="/review">Review</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: white" href="/#message">Contact Us</a>
          </li>
          <li class="nav-item">
            {% if user.is_authenticated %}
              <a class="nav-link" style="color: white" href="/accounts/logout" >Logout</a>
            {% else %}
              <a class="nav-link" style="color: white" href="/accounts">Register</a>
            {% endif %}
          </li>
        </ul>
        <span class="navbar-text" style="color: white">
            {% if user.is_authenticated %}
              <h6> <b> Welcome {{ request.user.username }}! </b></h6>
            {% else %}
              <h6><b> Want to build your own dream house?, register for free!</b></h6>
            {% endif %}
          </span>
      </div>
    </nav>
    <!--content-->
    <div class="content-container">
      {% block content%} {% endblock %}
    </div>

      <!-- Footer -->
    <footer class="page-footer font-small pt-4">
      <div class="footer-copyright text-center py-3"><b>© Copyright PPW-KB12 2019</b></div>
    </footer>
  </body>
</html>
