@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

.rev-container{
	background-color: #6cc8a3;
	padding: 20px;
}

.form-review{
	font-family: 'Varela Round', sans-serif;
	color: white;
	font-size: 20px;
}