{% extends 'base.html' %}
{% load static %}

{% block title %}
Welcome
{% endblock %}



{% block content%}

<div class="jumbotron text-center" style="background-color: #ffafaf; height: auto; background-image: url({% static 'img/CivilEnggLogo.jpg' %}); ">
  <br><br><br>
  <div style="background-color: rgba(0,0,0,0.5); color: white; padding: 40px; font-family: 'Varela Round', sans-serif;">
    <img src="{% static 'img/bangunruma2.png' %}" alt="logo" style="max-width:35%; height: auto"><br><br>
    <p>A place where</p> 
    <h1><b>The Power of <br>
  	Fantasy Inspires</b></h1> 
    <h1 style="color: #ffafaf"><b>Dream House</b></h1>
  </div>
</div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid bt-1" style="padding-left: 40%; padding-right: 7%; font-family: 'Varela Round', sans-serif;">
  <h2>OUR WORK</h2><hr style="border: 1px solid white;"><br>
        <div class="row">
            <div class="col-sm-6" style="color: black;"><h4 class="4h">This platform is a digital agency passionate about making dream house comes true by connecting our client with trusted contractor that helps us to build your house.</h4></div>
            <div class="col-sm-6">
               <h4>We collaborate with contractor companies small to large around the world to help them engage their client and build our client fantasy house comes true.</h4>
            </div>
          </div>
        </div>
      <br><br>
      </div>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div id="portfolio" class="container-fluid text-center bg-grey" style="font-family: 'Varela Round', sans-serif; background-color: #ffafaf">
  
  <h2>What our client say</h2><hr style="border: 1px solid white; margin-left: 15%; margin-right: 15%;">
  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h4>"Terimakasih tanpa web ini saya masih belum bisa memiliki rumah sendiri."<br><span>Mira, HouseWife, US</span></h4>
      </div>
      <div class="item">
        <h4>"One word... WOW!!"<br><span>John Doe, Salesman, Rep Inc</span></h4>
      </div>
      <div class="item">
        <h4>"Could I... BE any more happy with this company?"<br><span>Chandler Bing, Actor, FriendsAlot</span></h4>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


<div id="message" class="container-fluid bt-2">
  <div class="text-center">
    <br><br>
    <h2>We'd love to hear from you</h2>
    <hr style="border: 1px solid white; margin-left: 15%; margin-right: 15%;">
    <h4 class="4h">Feel free to ask anything</h4>
    <form method="POST" action="{% url 'rara:save_q' %}" 
    style="margin-left: 15%; margin-right: 15%; font-family: 'Varela Round', sans-serif;">
        {% csrf_token %}
        <div class="form-group">
          <label for="name" class="col-sm-2 col-form-label">{{ form.name.label_tag }}</label>
            {{ form.name }}
        </div>
        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 col-form-label">{{ form.email.label_tag }}</label>
            {{ form.email }}
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">{{ form.message.label_tag }}</label>
          {{ form.message }}
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          <br><br><br><br>
        </div>
      </form>
  </div>
</div>


<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
});
</script>


{% endblock %}
